@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: auto;
  height: auto;
}

.nav-content{
  font-family: Bangers;
  color: #ffffff;
}

.comment-section{
  height: 50vh;
  width: 50vw;
  border: 1px;
  border-radius: 5px;
  border-color: black;
  position: relative;
  top: 0%;
  left: 25%;
  flex-direction: column;
  overflow: scroll;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}

input{
  left: 25%;
  width: 50vw;
  height: 5vh;
  position: relative;
  overflow: scroll;
  min-height: 30px;
}

.comment{
  border: 1px;
  border-color: black;
  background: rgba(255, 255, 255, 0.4);
}

.comment-info{
  order: 1;
  color: black;
}

.comment p{
  order: 2;
}

.video-container{
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
}

.flex-elem-content{
  display: flex;
  overflow: scroll;
  text-align: center;
  flex-direction: column;
}

.about-me-container{
  background: rgba(255, 255, 255, 0.7);
  border: 3px;
  border-color: white;
  border-radius: 3px;
  display: flex;
  align-content: center;
  width: 50vw;
  height: 60vh;
  overflow: scroll;
}

.video{
  position: fixed;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}

.index-text{
  text-transform: uppercase;
  font-family: "Walter Turncoat";
  font-size: 6vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.index-text > p{
  font-family: "Dancing Script", cursive;
  font-size: 3vw;
  text-transform: lowercase;
  line-height: 0px;
}

nav{
  z-index: 100;
}

.overlay{
  position: absolute;
  z-index: 100;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  margin-top: 10%;
}

#greeting-container {
  margin-top: 20px;
}

.active{
  border-bottom: 2px green;
}

.section-border{
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  flex-direction: column;
}

.social-button{
  margin: 10px;
  font-size: 25px;
  background: none;
  border-radius: 5px;
}

img.dog{
  width: 50%;
  height: 50%;
}

.icon{
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}
