@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: auto;
  height: auto;
}

.nav-content{
  font-family: Bangers;
  color: #ffffff;
}

#greeting-container {
  margin-top: 20px;
}

.active{
  border-bottom: 2px green;
}

img.dog{
  width: 50%;
  height: 50%;
}

.icon{
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}