@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: auto;
  height: auto;
}

.nav-content{
  font-family: Bangers;
  color: #ffffff;
}

.video-container{
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
}

.video{
  position: absolute;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}

nav{
  z-index: 100;
}

.overlay{
  position: absolute;
  z-index: 100;
  display: flex;
  max-width: 50%;
  align-self: flex-start;
  justify-content: center;
  margin-top: 10%;
}

#greeting-container {
  margin-top: 20px;
}

.active{
  border-bottom: 2px green;
}

img.dog{
  width: 50%;
  height: 50%;
}

.icon{
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}
